.horizontal-list-container h1 {
    font-size: 1em;
    margin: 15px 10px 5px;
}

.horizontal-list {
    justify-content: space-around;
    overflow: hidden;
    background-color: #fff;
}

ul.grid-list {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

.tile-content {
    background-color: #ccc;
    height: 100%;
}

.horizontal-list-container .title {
    text-align: center;
    background-color: transparent;
}
