.list-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.grid-list-page {
    width: 100%;
    height: 100%;
}

.list-square {
    height: 100%;
    background-color: #ccc;
}
.grid-list-page-tile {
    margin-bottom: 10px;
    margin-top: 10px;
}
